@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0;
}

.tasks-container {
    width: 75%;
    border: 1px solid #333;
}

.task {
    display: flex;
    flex-direction: column;
    border-bottom: 1px rgba(0, 0, 0,0.2) solid;
    padding: .25rem;
    width: 100%;
    margin: .05rem 0;
}
.task-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

}
.task-left{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.task-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}
.task-right{
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.task-right i, .task-left i {
    font-size: 1rem;
    padding: .5rem;
}

.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px rgba(0, 0, 0,0.2) dotted;
    padding: .5rem 0 0 0;
    margin-top: .5rem;
}
.task-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 50%;
}
.task-info ul {
}
.task-info ul li {
    list-style-type: none;
    /* display: inline-block; */
}
.task-buttons i {
    margin-right: .5rem;
}

.completed {
    text-decoration: line-through;
}

.in-progress {
    font-style: italic;
}

.circle {
    background-color: #333;
    border: 2px solid #333;
    width: 16px;
    height: 10px;
    /* border-radius: 50%; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: .5rem;
}